{
	"prefix": "[insert discord bot prefix here]",
	"token": "[insert discord bot token here]",
	"channels": {
		"welcome": "[insert welcome channel id here]",
		"intros": "[insert intros channel id here]",
		"roles": "[insert roles channel id here]",
		"info": "[insert info channel id here]",
		"updates": "[insert updates channel id here]",
		"promos": "[insert promos channel id here]",
		"auditlogs": "[insert audit log channel id here]",
		"verifylogs": "[insert verify log channel id here]",
		"invite": "[insert invite channel id here]",
		"verifiedCount": "[insert verified member count channel id here]",
		"memberCount": "[insert general member count channel id here]"
	},
	"verification": {
		"guildID": "[insert guild ID here]",
		"key": "[Create unique string and number password]",
		"inviteLink": "[insert your discord server's invite link here",
		"verifyURL": "[insert verification server's URL here]",
		"status": "https://srhpyqt94yxb.statuspage.io/api/v2/status.json"
	},
	"school_color": "[insert random hex color here for preferred embed colors]",
	"serverRoles": {
		"admin": "[inserta admin role id here]",
		"mod": "[inserta admin role id here]"",
		"owner": "[inserta admin role id here]"",
		"clubLeader": "[inserta admin role id here]"",
		"verifiedStudent": "[insert verified member role id here]"",
		"unverifiedStudent": "[inserta unverified member role id here]"",
		"muted": "[inserta admin role id here]"",
		"bot": "[inserta admin role id here]""
	},
}